[program:{{ item.name }}]
command={{ item.command }}
user={{ item.user }}
directory={{ item.directory }}
numprocs={{ item.numprocs|default(supervisord_program_defaults.numprocs) }}
autostart={{ item.autostart|default(supervisord_program_defaults.autostart)|lower }}
autorestart={{ item.autorestart|default(supervisord_program_defaults.autorestart)|lower }}
stderr_logfile={{ supervisord_log_path }}/{{ item.stderr_logfile|default('supervisor-' ~ item.name ~ '.err.log') }}
stdout_logfile={{ supervisord_log_path }}/{{ item.stdout_logfile|default('supervisor-' ~ item.name ~ '.out.log') }}